body{
	margin: 0;
	padding: 0 0 2em 0;
}
#masthead{
	background-color: black;
	color: white;
	padding: 1em;
}
#content{
	max-width: 800px;
	width; 100%;
	margin: 0 auto;
	padding: 10px 20px;
}
#serial form{
	max-width: 800px;
	width: 100%;
	position: fixed;
	bottom: 0.5em;
}
#serial input{
	width: 70%;
}
#serial button{
	width: 20%
}
#data-serial{
	margin: 10px 0;
}
#data-serial::after{
	content: " ";
	display: inline-block;
	width: 0.6em;
	height: 0.8em;
	background: #666;
	/*margin: 0 0.5em;*/
	
	animation: blink 2s infinite
	
}

@keyframes blink{
	0%{
		opacity: 1;
	}
	40%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
} 