body{
	margin: 0;
	padding: 0;
}
#masthead{
	background-color: black;
	color: white;
	padding: 1em;
}
#content{
	max-width: 800px;
	width; 100%;
	margin: 0 auto;
	padding: 10px 20px;
}
#serial .input{
	width: 100%;
}
#data-serial{
	margin: 10px 0;
}